.Tipo {
    font-weight: bold;
    color: blue;
}

.Descripcion {
    font-style: italic;
}

.contenedorIndu {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 100px;
    
}

